html,body { height: 100%; margin: 0; padding: 0; }

.fld-required:after{
  content: '*';
  margin: 0 0 0 3px;
  vertical-align: text-bottom;
  line-height: 1.2;
  color: red;
}

html,body { height: 100%; margin: 0; padding: 0; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #000000;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  -webkit-animation-name: fadeIn;
  /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

@media (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .modal-content {
    border-radius: 0;
  }
}

.display-block {
  display: block;
}

.disabled {
  color: #bbbbbb
}