<div class="modal fade in" tabindex="-1" role="dialog" [ngClass]="{'display-block': modalContent.modalVisible}" [hidden]="!modalContent.modalVisible">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="modalContent.modalVisible = !modalContent.modalVisible"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{modalContent.title}}</h4>
            </div>
            <div class="modal-body">
                <div content-body-directive class="modal-dynamic-content"></div>
                <!--{{modalContent.body}}-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" *ngIf="modalContent.rejectButtonText" (click)="modalContent.modalVisible = !modalContent.modalVisible">{{modalContent.rejectButtonText}}</button>
                <button type="button" class="btn btn-primary" *ngIf="modalContent.confirmButtonText" (click)="doAction(modalContent.type)">{{modalContent.confirmButtonText}}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!--
<div class="modal-backdrop fade in" [hidden]="!modalContent.modalVisible"></div>-->
