.admin-page-container {
  background: url(/app/images/background-admin-panel2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.admin-page-container .menu-bar {
  width: 100px;
  height: 100%;
  float: left;
  position: fixed;
  border-right: 4px double black;
  z-index: 1;
}
.admin-page-container .md-content-container {
  padding-left: 115px;
}
@media (max-width: 768px) {
  .admin-page-container .menu-bar {
    width: 100%;
    height: 80px;
    float: left;
    border-bottom: 4px double black;
    border-right: 0;
    position: static;
  }
  .admin-page-container .md-content-container {
    padding-left: 0;
    padding-right: 0;
  }
}
