<div class="modal fade in" tabindex="-1" role="dialog" [ngClass]="{'display-block': showDialog}" [hidden]="!showDialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" (click)="rejectCallback()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="rejectCallback()">{{ 'cancel' | translate }}</button>
                <button type="button" class="btn btn-primary" (click)="okCallback()">{{ 'ok' | translate }}</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->