<div class="section-item" [ngClass]="{'sub-item': menuItem.categoryId != 1,
                                      'expandable': menuItem.categoryId != 1,
                                      'highlight': !hideSubSection && menuItem.subItems.length,
                                      'two-inh': menuItem.inheritanceLevel === 2,
                                      'three-inh': menuItem.inheritanceLevel === 3}">
    <div class="checkbox-container" >
        <input class="checkbox" [attr.id]="'check' + menuItem._id" type="checkbox" [(ngModel)]="menuItem.selected" value="{{menuItem.selected}}">
        <label tabindex="1" [attr.for]="'check' + menuItem._id" class="checkbox-label" (click)="checkItem(menuItem)"></label>
    </div>
    <i *ngIf="menuItem.subItems.length" class="material-icons icon expand-icon" (click)="expandSubSection()">{{expandState}}</i>
    <i class="material-icons icon action-icon" (click)="removeItem(menuItem)">clear</i>
    <i class="material-icons icon action-icon" (click)="editItem(menuItem)">mode_edit</i>
    <i class="material-icons icon action-icon" (click)="reviewItem(menuItem)">open_in_browser</i>
    <!-- 3 - max inhertance level. should be fetched from configuration settings-->
    <i *ngIf="menuItem.inheritanceLevel < 3 && !hideSubSection" class="material-icons icon add-icon" (click)="addItem(menuItem)">add_circle_outline</i>
    <div class="section-item-name">
        <span>{{menuItem.title}}</span>
        <span *ngIf="menuItem.price">{{menuItem.price}} $</span>
    </div>
</div>

<div [hidden]="hideSubSection">
    <menu-item *ngFor="let subItem of menuItem.subItems" [menuItem]="subItem" [hidden]="!subItem.visible" (checkItemEvent)="checkItem($event)"></menu-item>
</div>
