@item-color: #f8f8f8;
@icon-hover-color: #a9a9a9;
@item-subcolor: #66CC75;


.section-item {
  background-color: @item-color;
  border-radius: 4px;
  height: 50px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 20px;
  text-align: right;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  .icon {
    cursor: pointer;
  }
  .icon:hover {
    color: @icon-hover-color;
  }
  .search-item {
    float: right;
    margin-right: 50px;
    margin-top: 13px;
  }
  &:hover {
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.26);
    border: 1px solid #afafaf;
  }
  &.highlight {
    //background-color: #cacaca; should be for mobile
  }

}
/*.expandable-hidden {
  max-height: 0;
  transition: max-height 0.55s ease-out;
  overflow: hidden;
}
.expandable-show {
  max-height: 100px;
  transition: max-height 0.55s ease-in;
}*/

.section-item.sub-item {
  margin-top: 0;
}

.section-item-name {
  padding-top: 15px;
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
}

.checkbox-container {
  width: 40px;
  float: left;
  padding-top: 15px;
  padding-left: 15px;
}

.expand-icon {
  font-size: 30px;
  padding: 10px;
  float: left;
}

.action-icon {
  font-size: 22px;
  padding: 14px;
  float: right;
}

.add-icon {
  font-size: 30px;
  padding: 10px;
  position: relative;
  z-index: 1;
  float: right;
}
.checkbox-label {
  display: inline-block;
  font-size: .9em;
  line-height: 1.4em;
  color: #333;
  position: relative;
}
.checkbox-label:hover {
  cursor: pointer;
}

input[type="checkbox"].checkbox {
  opacity: 0;
  position: absolute;
}
input[type="checkbox"] + .checkbox-label:before {
  font-family: 'iconicfill', sans-serif;
  content: '';
  font-size: 1em;
  background: #fff;
  border: 1px solid #ccc;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 1em;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
}
input[type="checkbox"]:checked + .checkbox-label:before {
  content: "\2713";
  color: @item-subcolor;
}
input[type="checkbox"]:focus + .checkbox-label:before {
  outline: none;
  border-color: @item-subcolor;
}
input[type="checkbox"] + .checkbox-label:empty:before {
  margin-right: 0;
}

@media (max-width: 768px) {
  .action-icon {
    font-size: 25px;
    padding: 10px 8px 10px 0px;
  }
}

@media (min-width: 768px) {
  .section-item {
    &.two-inh {
      width: 97%;
      margin-left: 3%;
    }
    &.three-inh {
      width: 94%;
      margin-left: 6%;
    }
  }
}
