@item-color: #f8f8f8;
@item-subcolor: #66CC75;
@icon-hover-color: #a9a9a9;

.content-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  color: rgba(0,0,0,0.87);
  background-color: rgb(255,255,255);
  border-radius: 2px;
  float: none;
  min-height: 85%;
  margin-bottom: 20px;

  .container-header {
    text-align: center;
    font-size: 20px;
  }



  .meal-item-container {
    padding-left: 55px;
    .meal-subitem-container {
      padding-left: 55px;
    }
    .meal-item {
      background-color: @item-color;
      border-radius: 4px;
      height: 50px;
      border: 1px solid #e7e7e7;
      position: relative;
      .clear-item-icon {
        position: absolute;
        right: 15px;
        top: 11px;
      }
    }
    .icon {
      cursor: pointer;
    }
    .icon:hover {
      color: @icon-hover-color;
    }
  }

}




input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

@media (max-width: 768px) {
  .content-container {
    margin-top: 10px;
    padding: 10px;
  }
}



