.content-container {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  border-radius: 2px;
  float: none;
  min-height: 85%;
  margin-bottom: 20px;
}
.content-container .container-header {
  text-align: center;
  font-size: 20px;
}
.content-container .meal-item-container {
  padding-left: 55px;
}
.content-container .meal-item-container .meal-subitem-container {
  padding-left: 55px;
}
.content-container .meal-item-container .meal-item {
  background-color: #f8f8f8;
  border-radius: 4px;
  height: 50px;
  border: 1px solid #e7e7e7;
  position: relative;
}
.content-container .meal-item-container .meal-item .clear-item-icon {
  position: absolute;
  right: 15px;
  top: 11px;
}
.content-container .meal-item-container .icon {
  cursor: pointer;
}
.content-container .meal-item-container .icon:hover {
  color: #a9a9a9;
}
input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}
@media (max-width: 768px) {
  .content-container {
    margin-top: 10px;
    padding: 10px;
  }
}
