<div id="particles">
    <div id="intro">

        <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <!--<div class="row">
                <div class="iconmelon">
                    &lt;!&ndash;image should be here&ndash;&gt;
                </div>
            </div>-->
            <h1>CLEVERTABLES</h1>

            <div class="panel panel-default" >
                <div class="panel-heading">
                    <div class="panel-title text-center">admin panel</div>
                </div>

                <div class="panel-body" >

                    <form name="form" id="form" class="form-horizontal" enctype="multipart/form-data" method="POST" (ngSubmit)="onSubmit()">

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input id="user" type="text" class="form-control" name="user" value="" placeholder="User">
                        </div>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input id="password" type="password" class="form-control" name="password" placeholder="Password">
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Log in</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>