.menu {
  padding: 15px;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  top: 15px;
  background-color: #a29e9e;
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.menu:first-child {
  position: absolute;
  left: 20px;
  transition: all .2s;
}
.menu.menu-out {
  width: 100px;
  left: 0!important;
  padding: 0;
  border-radius: 0;
  height: 100%;
  top: 0px;
}
.menu .no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu .chapter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
  width: 100%;
  height: 55px;
  /*should be changed*/
  background-color: #a29e9e;
  color: rgba(255, 255, 255, 0.87);
  /*    transform: translateX(-100%); */
}
.menu .chapter-list li {
  /*display: inline-block;*/
  text-align: center;
  padding: 18px;
}
.menu .chapter-list li.active {
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.26);
}
.menu .slide-chapter-in {
  animation: slideIn .3s;
  /*    transform: translateX(0); */
}
.menu .slide-chapter-out {
  animation: slideOut .3s;
  /*    transform: translateX(-100%); */
}
.menu .show-menu-icon {
  animation: zoomIn .2s;
}
.menu .hide-menu-icon {
  animation: zoomOut .2s;
}
.hidden {
  display: none;
}
.show {
  display: block;
}
@keyframes slideOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(3%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes zoomIn {
  0% {
    display: block;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    display: block;
  }
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@media (max-width: 768px) {
  .menu {
    top: 10px;
  }
  .menu.menu-out {
    width: 100%;
    height: 80px;
    top: 0px;
  }
  .menu .chapter-list li {
    display: inline-block;
    /*text-align: center;*/
  }
}
/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
