<header>
    <!--<span class="logo">clevertable</span>
    <div class="toolbar-menu-down"></div>-->
    <div>
        <div class="menu" id="clickMenu">
            <i class="material-icons no-select">menu</i>
            <ul class="chapter-list hidden" id="chapter-list">
                <li class="chapter-item" *ngFor="let item of menuItems; let i = index" [class.active]="i === activeItemIndex" (click)="setActiveItem(i)">{{item}}</li>
                <li class="chapter-item" (click)="hideToolBar()"><i class="material-icons">arrow_back</i></li>
            </ul>
        </div>
    </div>

    <loading-spinner [isLoading]="isLoading"></loading-spinner>
     <!--<div class="modal fade" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true" style="padding-top:15%; overflow-y:visible;">
    <div class="modal-dialog modal-m">
        <div class="modal-content">
            <div class="modal-header"><h3 style="margin:0;"></h3></div>
            <div class="modal-body">
                <div class="progress progress-striped active" style="margin-bottom:0;"><div class="progress-bar" style="width: 100%"></div></div>
                </div>
            </div>
        </div>
    </div>-->

    <!---->
</header>