.section-item.menu-tool {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.section-item.menu-tool .menu-tool-item {
  text-align: center;
  padding: 3px;
}
.section-item.menu-tool .menu-tool-item .desc {
  font-size: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section-item.menu-tool .menu-tool-item .desc span {
  display: inline-block;
}
.section-item.menu-tool .menu-tool-item .icon {
  font-size: 36px;
}
.section-item {
  background-color: #f8f8f8;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 20px;
}
.section-item .icon {
  cursor: pointer;
}
.section-item .icon:hover {
  color: #a9a9a9;
}
.section-item .search-item {
  margin-top: 13px;
  margin-bottom: 10px;
}
.section-item input {
  width: 100%;
  box-sizing: border-box;
}
input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}
input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 150px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  background-color: #fff;
  border-color: #66CC75;
  -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
  box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
}
