@item-color: #f8f8f8;
@icon-hover-color: #a9a9a9;
@item-subcolor: #66CC75;

.section-item.menu-tool {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  .menu-tool-item {
    text-align: center;
    padding: 3px;
    .desc {
      font-size: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      span {
        display: inline-block;
      }
    }
    .icon {
      font-size: 36px;
    }
  }

}

.section-item {
  background-color: @item-color;
  border-radius: 4px;
  border: 1px solid #e7e7e7;
  position: relative;
  margin-top: 20px;
  .icon {
    cursor: pointer;
  }
  .icon:hover {
    color: @icon-hover-color;
  }
  .search-item {
    margin-top: 13px;
    margin-bottom: 10px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
  }
}

input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}


input[type=search] {
  background: #ededed url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 150px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  background-color: #fff;
  border-color: @item-subcolor;

  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}