<div class="section-item menu-tool">
    <div class="col-sm-2 col-xs-3 menu-tool-item" (click)="addSection()">
        <i class="material-icons icon">add</i>
        <div class="desc">
            <span> {{ 'addSection' | translate }} </span>
        </div>
    </div>
    <div class="col-sm-2 col-xs-3 menu-tool-item" (click)="selectAllAction()">
        <i class="material-icons icon">done_all</i>
        <div class="desc">
            <span> {{ 'selectUnselectAll' | translate }} </span>
        </div>
    </div>
    <div class="col-sm-2 col-xs-3 menu-tool-item" [ngClass]="{'disabled': !allowDelete}" (click)="handleDialogDisplay(true)">
        <i class="material-icons icon">delete</i>
        <div class="desc">
            <span> {{ 'delete' | translate }} </span>
        </div>
    </div>
    <div class="col-sm-2 col-xs-3 menu-tool-item" (click)="saveMenu()">
        <i class="material-icons icon">save</i>
        <div class="desc">
            <span > {{ 'save' | translate }} </span>
        </div>
    </div>
    <div class="col-sm-4 col-xs-12 search-item">
        <input type="search" [(ngModel)]="filterValue" (keyup)="filterValueChanged($event)" placeholder="Search">
    </div>
</div>

<confirmation-dialog [title]="'deleteConfirmationQuestion' | translate"
                     [showDialog]="showConfirmationDialog"
                     [okCallback]="removeSelectedCallback.bind(this)"
                     [rejectCallback]="handleDialogDisplay.bind(this, false)"></confirmation-dialog>