<menu-tool
        [filterValue]="filterValue"
        [allowDelete]="hasSelected()"
        (filterValueChange)="filterValueChange($event)"
        (checkItemEvent)="checkItem($event)"
        (selectAllEvent)="selectAllEvent($event)"
        (removeSelectedEvent)="removeAllSelectedItems($event)"
        (saveMenuEvent)="saveMenu($event)"
        (addSectionEvent)="addSection($event)"
></menu-tool>

<div [hidden]="isLoading">
    <menu-item *ngFor="let menuItem of menuItemsData" [menuItem]="menuItem" [hidden]="!menuItem.visible" (checkItemEvent)="checkItem($event)" ></menu-item>
</div>

<modal-component [modalContent]="modalContent" (doActionEvent)="doActionEvent($event)"></modal-component>

<loading-spinner [isLoading]="isLoading"></loading-spinner>